$rem: 10px;
$unit: 1.6 * $rem;
$touchTarget: 45px;

$mobile: 768px;
$tablet: 960px;

// colors

$black: #4f4f4f;
$muted: #999999;
$grey: #efefef;
$white: #FFFFFF;
$offWhite: #F7F7F7;
$blue: #009DDC;

